{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Quotation lookup</h1>

                {{ form_start(quotationForm) }}
                    {{ form_widget(quotationForm) }}

                    <button type="submit" class="btn btn-primary">Search</button>
                {{ form_end(quotationForm) }}
            </div>
        </div>
        <div class="row mt-5">
            {% if quotationEmail is defined %}
                <div class="col-12">
                    {{ quotationEmail }} emails sent.
                </div>
            {% endif %}

            {% if quotationChart is defined %}
                <div class="col-12 mt-3 mb-3">
                    <canvas id="quotationChart"></canvas>
                </div>
            {% endif %}

            {% if quotationTable is defined %}
            <div class="col-12">
                {% autoescape false %}
                    {{ quotationTable|raw }}
                {% endautoescape %}
            </div>
            {% endif %}
        </div>
    </div>

    <script>
        $(function () {
            {% if quotationChart is defined %}
                var ctx = document.getElementById("quotationChart").getContext("2d");
                var chartData = {{ quotationChart|json_encode|raw }};
                var quotationChart = new Chart(ctx, {
                    type: 'bar',
                    data: chartData,
                    options: {
                        barValueSpacing: 20,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                }
                            }]
                        }
                    }
                });
            {% endif %}

            $("#quotation_companySymbol").select2({
                matcher: function(params, data) {
                    if ($.trim(params.term) === '') {
                        return data;
                    } else if (typeof data.text === 'undefined') {
                        return null;
                    } else if (data.text.indexOf(params.term) > -1 || data.id.indexOf(params.term) > -1) {
                        var modifiedData = $.extend({}, data, true);
                        modifiedData.text += ' (matched)';

                        return modifiedData;
                    }
                    return null;
                }
            });

            var dateFormat = "yy-mm-dd";
            var from = $("#quotation_fromDate").datepicker({
                // defaultDate: "+1w",
                changeMonth: true,
                dateFormat: dateFormat,
                maxDate: 0,
            }).on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
            });
            var to = $("#quotation_toDate").datepicker({
                // defaultDate: "+1w",
                changeMonth: true,
                dateFormat: dateFormat,
                maxDate: 0,
            }).on("change", function () {
                from.datepicker("option", "maxDate", getDate(this));
            });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
{% endblock %}
